<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password1">Password:</label><br>
        <input type="password" id="password1" name="password1" required><br>
        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2" required><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
